<div class="row">
	<div class="large-5 small-10 small-centered columns" ng-class="{flipped: flippedState}" id="question-list">
        <div class="side front">
        	<div class="row">
                <div class="small-12 columns curr-question-number-container">
                    Question List
                    <hr>
				</div>
				<div class="small-12 columns">
					<ul>
					    <li ng-click="goTo(question)" ng-class="{even: $even}" ng-repeat="question in questions">
                            <!-- <span class="qlabel">({{["a","b","c","d","e"][$index]}})</span> -->
                            <span ng-bind-html="question.name"></span>
                        </li>
					</ul>
				</div>
			</div>
        </div>
    </div>
</div>